<h3 id='merchant-name'><%= @merchant.name %></h3>

<section class="dashboard-links">
  <%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
  <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>
</section>

<section id="top-five-customers">
  <% @merchant.top_five_customers.each.with_index do |customer, idx| %>
    <p class="top-customer">
      <%= "#{idx + 1}. #{customer.full_name.titlecase} - #{customer.quantity_successful_transactions} purchases" %>
    </p>
  <% end %>
</section>